.nav-link:hover{
    text-decoration: underline;
}

.navbar-toggler{
    border : none!important;
    box-shadow : none!important;
}

.logo-lg{
    display: inline;
}

.logo-sm{
    display: none;
}


@media only screen and (max-width : 768px) {

    .navbar-collapse{
        background-color : white!important;
        padding-bottom : 20px;
    }

    .nav-link{
        color : #006E62!important;
    }

    li{
        margin-bottom : 10px;
    }

    .logo-sm{
        margin-top : 10px;
        display: inline;
    }

    .logo-lg{
        display: none;
    }
}